body {
    background-color: #407076;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header {
    padding-top: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
}

h1 {
    margin-left: 20px; 
    margin-right: 50px;
    color: #97b1a6;
    text-shadow: 5px 8px 3px #698996;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

nav a {
    color: #c9c5ba;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

nav a:hover {
    color: #f0f465;
    text-decoration: underline;
    font-size: 22px;
}

main {
    width: 999px;
    margin: 30px auto;
  }
  
  main img {
    width: 75%;
  
    margin: 0 auto;
    display: block;
  }
  
  main p {
    font-size: 18px;
    background-color: #fff5b2;
    padding: 10px;
    text-align: center;
  }

  footer {
    text-align: center;
    background-color: #362c28;
    color: #fff;
    padding: 50px;
    font-family: fantasy;
  }